.navbar {
    background: #2C2C2CB2;
}

#navbar-brand {
    color: white;
    font-size: 2em;
    font-weight: lighter;
}

.navbar-toggler {
    background-color: white;
}

.nav-link {
    padding-left: 10%;
}

.some {
    color: white;
}


@media screen and (min-width : 768px) {
    .navbar {
        background-color: rgb(0, 0, 0, 0);
    }

    #navbar-brand {
        color: white;
        font-size: 3em;
        font-weight: lighter;
        width: 20%;
    }

    #navigation_list {
        background: #1F1F1F;
        border: 1px solid #666363;
        border-radius: 10px;
        width: 70%;
        display: flex;
        justify-content: space-around;
    }

    #home_button {
        color: #FFFFFF;
        background: #0F0F0F;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
    }

    #login_button {
        color: white;
    }

    #signup_button {
        background-color: #FFFFFF;
        border-radius: 4px;
        color: black;
    }

    li {
        font-size: 1.3em;
    }
}